.info-plate {
    display: inline-flex;
    float:right;
    justify-content: space-around;
    width: 350px;
    background: #D1D1D1;
    border: solid lightgray 1px;
    border-radius: 2px;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    color: #3E3A6B;
    &-wrapper {
        display: inline;
        float:right
    }
}