.app-page {
  display: flex;
  justify-content: center;
  max-height: 540px;
  &-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 32px;
    height: 95px;
    background: #B6E5FF;
    &.stop {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      background: #ffffff;
      gap: 31px;
      border-bottom: solid 2px #D9D9D9;
      color: #403939
    }
  }
  &__stop-name {
      &-ru {
          @media screen and (min-width: 1919.98px) {
            font-size: 40px;
          }
          @media screen and (min-width: 2781.98px) {
            font-size: 48px;
          }
      }
      &-eng {
          @media screen and (min-width: 1919.98px) {
            font-size: 28px;
          }
          @media screen and (min-width: 2781.98px) {
            font-size: 36px;
          }
      }
  }
  &__route-name {
    @media screen and (min-width: 1919.98px) {
      font-size: 28px;
    }

    @media screen and (min-width: 2781.98px) {
      font-size: 36px;
    }
  }
  &-left {
      position: relative;
      @media screen and (min-width: 1919.98px) {
        width: 960px;
        height: 540px;
      }
      @media screen and (min-width: 2781.98px) {
        width: 1391px;
        height: 768px;
      }
      width: 960px;
      height: 540px;
      &.center-content {
        display: flex;
        justify-content: center;
        align-items: center;
      }
  }
  &-right {
    display: flex;
    overflow: hidden;
    @media screen and (min-width: 1919.98px) {
      width: 960px;
      height: 540px;
    }

    @media screen and (min-width: 2781.98px) {
      width: 1391px;
      height: 768px;
    }
    width: 960px;
    border-left: solid #334743 2px;
    color: #bdbdbd;
    transition: all ease 0.5s;
    &-image {
      margin-top: 180px;
      margin: 0 auto;
      max-width: 960px;
      @media screen and (min-width: 2781.98px) {
        margin-top: 180px;
        max-width: 1391px;
      }
    }
    &-video {
      width: 100%;
      height: 100%
    }
  }
}

