.app-page {
  display: flex;
  justify-content: center;
  max-height: 540px;
  &-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 31px;
    padding: 12px 32px;
    height: 41px;
    border-bottom: solid 2px var(--light-grey);
    background: var(--white);
    @media screen and (min-width: 2782px) {
      padding: 20px 32px;
    }
    &.stop {
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      gap: 0px;
      height: 77px;
      background: var(--blue);
      border: none;
      color: var(--dark-grey);
      @media screen and (min-width: 2782px) {
        height: 100px;
      }
    }
  }
  &__stop-name {
      &-ru {
          @media screen and (min-width: 1919.98px) {
            font-size: 40px;
          }
          @media screen and (min-width: 2781.98px) {
            font-size: 48px;
          }
      }
      &-eng {
          @media screen and (min-width: 1919.98px) {
            font-size: 28px;
          }
          @media screen and (min-width: 2781.98px) {
            font-size: 36px;
          }
      }
  }
  &__route-name {
    @media screen and (min-width: 1919.98px) {
      font-size: 28px;
    }

    @media screen and (min-width: 2781.98px) {
      font-size: 36px;
    }
  }
  &-left {
      position: relative;
      @media screen and (min-width: 1919.98px) {
        width: 960px;
        height: 540px;
      }
      @media screen and (min-width: 2781.98px) {
        width: 1391px;
        height: 768px;
      }
      width: 960px;
      height: 540px;
      &.center-content {
        display: flex;
        justify-content: center;
        align-items: center;
      }
  }
  &-right {
    display: flex;
    overflow: hidden;
    @media screen and (min-width: 1919.98px) {
      width: 960px;
      height: 540px;
    }

    @media screen and (min-width: 2781.98px) {
      width: 1391px;
      height: 768px;
    }
    width: 960px;
    border-left: solid var(--dark-green) 2px;
    color: (--grey);
    transition: all ease 0.5s;
    &-image {
      margin-top: 180px;
      margin: 0 auto;
      max-width: 960px;
      @media screen and (min-width: 2781.98px) {
        margin-top: 180px;
        max-width: 1391px;
      }
    }
    &-video {
      width: 100%;
      height: 100%
    }
    &-stream {
      width: 100%;
      height: 100%
    }
  }
}

