@font-face {
    font-family: 'PT Root UI';
    src: url('app/fonts/PT-Root-UI_Medium.ttf') format('truetype'),  
} 
  
html, body, div, span, h1, h2, h3, p, ul, li {
margin: 0;
padding: 0;
}

body {
font-family: PT Root UI ;
color: #001914;
}

:root {
--scrollbarBgColor: #ffffff;
--scrollbarThumbColor: #969696;
--scrollbarWidth: 12px;
--scrollbarBorder: 0 solid var(--scrollbarBgColor);
--scrollbarBorderRadius: 30px;
}

table {
border-collapse: collapse;
}

@keyframes show-up {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
}
  
@keyframes fade-in {
0% {
    opacity: 1;
}
50% {
    opacity: 0.5;
}
100% {
    opacity: 0;
    }
}

@keyframes slide-show {
    0% {
      transform: translateX(-100%);
    }
    100% {
        transform: translateX(0px);
    }
}
  
@keyframes slide-hide {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(100%);
    }
}
  
.fade-enter-active {
    animation: show-up 0.7s forwards;
}
.fade-exit-active {
    animation: fade-in 0.7s forwards;
}

.slide-enter-active {
    animation: slide-show 0.7s forwards;
}
.slide-exit-active {
    animation: slide-hide 0.7s forwards;
}