@font-face {
    font-family: 'PT Root UI';
    src: url('app/fonts/PT-Root-UI_Medium.ttf') format('truetype'),  
} 
  
html, body, div, span, h1, h2, h3, p, ul, li {
margin: 0;
padding: 0;
}

body {
font-family: PT Root UI ;
color: #001914;
}

:root {
--scrollbarBgColor: #ffffff;
--scrollbarThumbColor: #969696;
--scrollbarWidth: 12px;
--scrollbarBorder: 0 solid var(--scrollbarBgColor);
--scrollbarBorderRadius: 30px;
}

table {
border-collapse: collapse;
}

